/*------------------------------------
    Mixins
------------------------------------*/
/*------------------------------------
    Variables
------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,500,600,700,800,900|Poppins:300,400,500,600,700,700i&display=swap");
:root {
  --gray: #eee;
  --white: #fff;
  --black: #000;
  --base-0: #fff;
  --base-1: #151812;
  --base-2: "";
  --base-3: "";
  --primary: orange;
  --primary-1: #ff8800;
  --secondary: "";
  --secondary-1: "";
  --color-1: #70b6fe;
  --color-2: #c670fe;
  --color-3: #fec070;
  --color-4: #dc3545;
  --color-5: #28a745;
  --color-6: darkblue;
}

/*------------------------------------
    Google Font  
------------------------------------*/
/*------------------------------------
    Typography
------------------------------------*/
body {
  font-size: 14px;
  letter-spacing: 0.75px;
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 500;
  color: var(--base-1);
  line-height: 1.8;
}

a {
  transition: all 0.4s ease-in-out 0s;
}

a:hover,
a:focus,
a:active {
  color: inherit;
  text-decoration: none;
  outline: none;
}

a:visited {
  color: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dd,
ol,
ul,
hr,
pre,
menu,
table,
caption,
address,
blockquote {
  margin: 0;
  margin-bottom: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: var(--base-1);
  font-family: "Poppins", sans-serif;
}

h1,
.h1 {
  line-height: 1.2;
  font-size: 60px;
}

h2,
.h2 {
  font-size: 54px;
}

h3,
.h3 {
  font-size: 24px;
}

h4,
.h4 {
  font-size: 20px;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

h1,
.h1 {
  font-weight: 700;
}

h2,
.h2,
h3,
.h3 {
  font-weight: 600;
}

h4,
.h4,
h5,
.h5 {
  font-weight: 600;
}

h6,
.h6 {
  font-weight: 500;
}

:-ms-input-placeholder {
  color: var(--base-1);
}

::-moz-placeholder {
  color: var(--base-1);
}

::placeholder {
  color: var(--base-1);
}

/*------------------------------------
    Spacing
------------------------------------*/
.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb--15 {
  margin-bottom: -15px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb--30 {
  margin-bottom: -30px;
}

.mb--45 {
  margin-bottom: -45px;
}

.pl-0 {
  padding-left: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pt-15 {
  padding-top: 15px;
}

.pt-30 {
  padding-top: 30px;
}

.pl-15 {
  padding-left: 15px;
}

.pl-30 {
  padding-left: 30px;
}

.mt-spacing {
  margin-top: 120px;
}

.mb-spacing {
  margin-bottom: 120px;
}

/*------------------------------------
    Animations
------------------------------------*/
@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.11, 1.11);
  }
}
@keyframes zoom {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.11, 1.11);
  }
}
@-webkit-keyframes music {
  0% {
    transform: scale(1, 1);
  }
  25% {
    opacity: 0.3;
    transform: scale(1.11, 1.11);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes music {
  0% {
    transform: scale(1, 1);
  }
  25% {
    opacity: 0.3;
    transform: scale(1.11, 1.11);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes home-4 {
  0% {
    opacity: 0.1;
    transform: rotate(0);
  }
  50% {
    opacity: 0.3;
    border-radius: 50%;
    transform: rotate(45deg);
  }
  100% {
    opacity: 0.1;
    transform: rotate(0);
  }
}
@keyframes home-4 {
  0% {
    opacity: 0.1;
    transform: rotate(0);
  }
  50% {
    opacity: 0.3;
    border-radius: 50%;
    transform: rotate(45deg);
  }
  100% {
    opacity: 0.1;
    transform: rotate(0);
  }
}
@-webkit-keyframes noise {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
@keyframes noise {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.05, 1.05);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes scroll {
  0% {
    transform: translate(1, 1);
  }
  90% {
    transform: translate(0, 12px);
  }
  100% {
    transform: translate(1, 1);
  }
}
@keyframes scroll {
  0% {
    transform: translate(1, 1);
  }
  90% {
    transform: translate(0, 12px);
  }
  100% {
    transform: translate(1, 1);
  }
}
@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0;
  }
  to {
    background-position: 0 0;
  }
}
@-webkit-keyframes MoveUpDown {
  0% {
    top: -2px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 3px;
  }
}
@keyframes MoveUpDown {
  0% {
    top: -2px;
  }
  50% {
    top: 0;
  }
  100% {
    top: 3px;
  }
}
@-webkit-keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*------------------------------------
    Reset Styels
------------------------------------*/
* {
  box-sizing: border-box;
}

:root.skin-1 {
  --base-0: #fff;
  --base-1: #000;
  --primary: orange;
  --primary-1: #ff8800;
}
:root.skin-1 .el-icon-title {
  color: var(--white);
}

:root.skin-2 {
  --base-0: #ffc93c;
  --base-1: #151515;
  --primary: #ff7b54;
  --primary-1: rgb(255, 123, 84);
}
:root.skin-2 .el-icon-title {
  color: var(--white);
}

:root.skin-3 {
  --base-0: #050607;
  --base-1: #f1f1f1;
  --primary: #0b7554;
  --primary-1: #339266;
}

:root.skin-4 {
  --base-0: #0e262b;
  --base-1: #f1f1f1;
  --primary: #7b1f29;
  --primary-1: darkred;
}

:root.skin-5 {
  --base-0: #373a36;
  --base-1: #ffffff;
  --primary: tomato;
  --primary-1: tomato;
}

:root.skin-5 {
  --base-0: #1e464a;
  --base-1: #fff;
  --primary: #00b7b8;
  --primary-1: #339266;
}

:root.skin-6 {
  --base-0: #fff;
  --base-1: #000;
  --primary: #33b5e5;
  --primary-1: rgb(158, 221, 241);
}
:root.skin-6 .el-icon-title {
  color: var(--white);
}

:root.skin-7 {
  --base-0: #212121;
  --base-1: #fff;
  --primary: #0b7554;
  --primary-1: #0b7554;
}

:root.skin-8 {
  --base-0: #272933;
  --base-1: #fff;
  --primary: #00b7b8;
  --primary-1: #00b7b8;
}

:root.skin-9 {
  --base-0: #000;
  --base-1: #fff;
  --primary: #00bcd4;
  --primary-1: #00bcd4;
}

:root.skin-10 {
  --base-0: #0a0a0a;
  --base-1: #ffffff;
  --primary: #1d32f2;
  --primary-1: #1d32f2;
}

:root.skin-11 {
  --base-0: #121212;
  --base-1: #e6e2dd;
  --primary: #845ec2;
  --primary-1: #845ec2;
}

:root.skin-12 {
  --base-0: #0e262b;
  --base-1: #ffffff;
  --primary: #7b1f29;
  --primary-1: darkred;
}

html {
  overflow: hidden;
  overflow-y: auto;
}

body {
  color: var(--base-1);
  margin: 0;
  background-color: var(--base-0);
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
button,
input,
select,
textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

a:focus {
  outline: inherit;
}

a:active,
a:hover {
  color: inherit;
  outline: 0;
}

a:hover {
  text-decoration: underline;
}

address {
  font-style: italic;
  margin: 0 0 24px;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p {
  margin: 0 0 24px;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 14px;
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre {
  background: #f5f5f5;
  color: #666;
  font-family: monospace;
  font-size: 14px;
  margin: 20px 0;
  overflow: auto;
  padding: 20px;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  -webkit-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  margin: 24px 40px;
}

blockquote blockquote {
  margin-right: 0;
}

blockquote cite,
blockquote small {
  font-size: 14px;
  font-weight: normal;
  text-transform: uppercase;
}

blockquote em,
blockquote i {
  font-style: normal;
  font-weight: 300;
}

blockquote strong,
blockquote b {
  font-weight: 400;
}

small {
  font-size: smaller;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl {
  margin: 0 20px;
}

dt {
  font-weight: bold;
}

dd {
  margin: 0 0 20px;
}

menu,
ol,
ul {
  margin: 16px 0;
  padding: 0 0 0 40px;
}

ul {
  list-style-type: square;
}

li {
  outline: inherit;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

li > ul,
li > ol {
  margin: 0;
}

img {
  -ms-interpolation-mode: bicubic;
  border: 0;
  vertical-align: middle;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  min-width: inherit;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  max-width: 100%;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  appearance: textfield;
  padding-right: 2px;
  width: 270px;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
  line-height: 2;
  margin: 0 0 20px;
  width: 100%;
}

caption,
th,
td {
  font-weight: normal;
  text-align: left;
}

caption {
  font-size: 16px;
  margin: 20px 0;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  border-top: 1px solid #ededed;
  padding: 6px 10px 6px 0;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

hr {
  background-size: 4px 4px;
  border: 0;
  height: 1px;
  margin: 0 0 24px;
}

input,
button,
select,
textarea {
  border: inherit;
  outline: inherit;
  background: transparent;
  transition: all 0.4s ease-out 0s;
}
input:focus,
input:active,
button:focus,
button:active,
select:focus,
select:active,
textarea:focus,
textarea:active {
  outline: none;
}

input,
select,
textarea {
  width: 100%;
  font-size: 14px;
}

input,
select {
  height: 40px;
  padding: 0 15px;
}

.button:not(:disabled):not(.disabled) {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.skin-5 .button,
.skin-5 .el-tabs .el-tabs-links li.active {
  color: #fff !important;
}

/*------------------------------------
    Helpers
------------------------------------*/
.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.lowercase {
  text-transform: lowercase;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.text-italic {
  font-style: italic;
}

.text-normal {
  font-style: normal;
}

.text-underline {
  font-style: underline;
}

/*
* Text Colors
*/
.text-dark {
  color: var(--black);
}

.text-dark-1 {
  color: #333333;
}

.text-dark-2 {
  color: #666666;
}

.text-dark-3 {
  color: #999999;
}

.text-light {
  color: var(--white);
}

.text-light-1 {
  color: #eeeeee;
}

.text-light-2 {
  color: #cccccc;
}

.text-light-3 {
  color: #aaaaaa;
}

.text-base-0 {
  color: var(--base-0);
}

.text-base-1 {
  color: var(--base-1);
}

.text-base-1 {
  color: var(--base-2);
}

.text-primary {
  color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.text-gradient {
  background-image: linear-gradient(to left, var(--primary), var(--secondary));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.div-center {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.inline-block {
  float: none;
  display: inline-block;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.display-wrap {
  position: relative;
}

.display-block {
  display: block;
}

.display-center {
  top: 50%;
  left: 50%;
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.display-table {
  width: 100%;
  height: 100%;
  display: table;
}

.display-content {
  display: table-cell;
  vertical-align: middle;
}

.display-spacing {
  padding-top: 120px;
  padding-bottom: 120px;
}

.display-screen,
.overlay-gradient .bg-gradient {
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px;
}

.display-fit-screen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  overflow: hidden;
}

.display-full-screen {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
}

.max-w-576 {
  max-width: 576px;
}

.max-w-768 {
  max-width: 768px;
}

.max-w-992 {
  max-width: 992px;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.overlay-color {
  position: relative;
}
.overlay-color .bg-color {
  width: 100%;
  height: 100%;
  position: absolute;
}

.overlay-image {
  position: relative;
  background: no-repeat center center/cover;
}

.overlay-pattern {
  position: relative;
}
.overlay-pattern .bg-pattern {
  width: 100%;
  height: 100%;
  position: absolute;
}
.overlay-pattern .bg-pattern-1 {
  position: absolute;
}
.overlay-pattern .bg-pattern-2 {
  position: absolute;
}
.overlay-pattern .bg-pattern-3 {
  position: absolute;
}
.overlay-pattern .bg-patline-1 {
  opacity: 0.6;
  position: absolute;
}
.overlay-pattern .bg-pattern-a {
  opacity: 0.6;
  z-index: 1;
  position: absolute;
  -webkit-animation: noise 60ms infinite;
  animation: noise 60ms infinite;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNTAwIiBoZWlnaHQ9IjUwMCI+CjxmaWx0ZXIgaWQ9Im4iPgo8ZmVUdXJidWxlbmNlIHR5cGU9ImZyYWN0YWxOb2lzZSIgYmFzZUZyZXF1ZW5jeT0iLjciIG51bU9jdGF2ZXM9IjEwIiBzdGl0Y2hUaWxlcz0ic3RpdGNoIj48L2ZlVHVyYnVsZW5jZT4KPC9maWx0ZXI+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWxsPSIjMDAwIj48L3JlY3Q+CjxyZWN0IHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiBmaWx0ZXI9InVybCgjbikiIG9wYWNpdHk9IjAuNCI+PC9yZWN0Pgo8L3N2Zz4=");
}

.overlay-gradient {
  position: relative;
}
.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bo-color-1 {
  border-color: var(--color-1);
}

.bo-color-2 {
  border-color: var(--color-2);
}

.bo-color-3 {
  border-color: var(--color-3);
}

.bo-color-4 {
  border-color: var(--color-4);
}

.bo-color-5 {
  border-color: var(--color-5);
}

.bo-color-6 {
  border-color: var(--color-6);
}

.bo-primary {
  border-color: var(--primary);
}

.bp-secondary {
  border-color: var(--secondary);
}

.bg-color-1 {
  background-color: var(--color-1);
}

.bg-color-2 {
  background-color: var(--color-2);
}

.bg-color-3 {
  background-color: var(--color-3);
}

.bg-color-4 {
  background-color: var(--color-4);
}

.bg-color-5 {
  background-color: var(--color-5);
}

.bg-color-6 {
  background-color: var(--color-6);
}

.bg-light {
  background-color: var(--white);
}

.bg-dark {
  background-color: var(--black);
}

.bg-base-0 {
  background-color: var(--base-0);
}

.bg-base-1 {
  background-color: var(--base-1);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.bg-gradient-side {
  background-image: linear-gradient(270deg, var(--primary) 0%, transparent 70%);
}

.bg-dark-10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.bg-dark-20 {
  background-color: rgba(0, 0, 0, 0.2);
}

.bg-dark-30 {
  background-color: rgba(0, 0, 0, 0.3);
}

.bg-dark-40 {
  background-color: rgba(0, 0, 0, 0.4);
}

.bg-dark-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-dark-60 {
  background-color: rgba(0, 0, 0, 0.6);
}

.bg-dark-70 {
  background-color: rgba(0, 0, 0, 0.7);
}

.bg-dark-80 {
  background-color: rgba(0, 0, 0, 0.8);
}

.bg-dark-90 {
  background-color: rgba(0, 0, 0, 0.9);
}

.bg-dark-1000 {
  background-color: rgb(0, 0, 0);
}

.bg-light-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bg-light-20 {
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-light-30 {
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-light-40 {
  background-color: rgba(255, 255, 255, 0.4);
}

.bg-light-50 {
  background-color: rgba(255, 255, 255, 0.5);
}

.bg-light-60 {
  background-color: rgba(255, 255, 255, 0.6);
}

.bg-light-70 {
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-light-80 {
  background-color: rgba(255, 255, 255, 0.8);
}

.bg-light-90 {
  background-color: rgba(255, 255, 255, 0.9);
}

.bg-light-1000 {
  background-color: rgb(255, 255, 255);
}

.bg-gradient-0 {
  background-image: linear-gradient(
    0 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-45 {
  background-image: linear-gradient(
    45 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-90 {
  background-image: linear-gradient(
    90 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-135 {
  background-image: linear-gradient(
    135 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-180 {
  background-image: linear-gradient(
    180 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-225 {
  background-image: linear-gradient(
    225 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-270 {
  background-image: linear-gradient(
    270 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-315 {
  background-image: linear-gradient(
    315 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.bg-gradient-360 {
  background-image: linear-gradient(
    360 deg,
    var(--primary) 0%,
    var(--secondary) 100%
  );
}

.react-rotating-text-cursor {
  -webkit-animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99)
    0s infinite;
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s
    infinite;
}

/*------------------------------------
    Section: Service
------------------------------------*/
.section-service .service-wrap {
  position: relative;
  padding-top: 100%;
}
.section-service .service-wrap .service-item {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 30px;
  border: 1px solid #000;
}
.section-service .service-wrap .service-item p {
  font-size: 12px;
}
.section-service .service-wrap .service-item h3 {
  display: block;
  font-size: 14px;
  font-weight: 700;
  padding-top: 55px;
  margin-bottom: 20px;
}
.section-service .service-wrap .service-item .el-icon-icon {
  top: 30px;
  left: 30px;
  width: 36px;
  height: 36px;
  font-size: 30px;
  position: absolute;
  text-align: center;
}
.section-service .service-wrap .service-item:hover {
  background-color: var(--primary);
}

.section-service-3 .service-wrap .service-item {
  background-color: var(--primary);
}

@media (max-width: 768px) {
  .section-service .service-wrap .service-item {
    padding: 10px 20px 0;
  }
  .section-service .service-wrap .service-item h3 {
    margin-bottom: 10px;
  }
  .section-service .service-wrap .service-item .el-icon-icon {
    top: 15px;
    left: 15px;
  }
}
@media (max-width: 576px) {
  .section-service .service-wrap {
    padding-top: 220px;
  }
  .section-service .service-wrap .service-item {
    padding: 30px 30px 0;
  }
  .section-service .service-wrap .service-item h3 {
    margin-bottom: 10px;
  }
  .section-service .service-wrap .service-item .el-icon-icon {
    top: 30px;
    left: 30px;
  }
}
/*------------------------------------
    Hero
------------------------------------*/
.section-hero {
  width: 100%;
  position: relative;
  overflow-x: hidden;
}

.section-hero-5 .el-icon .icon {
  position: relative;
  margin-left: 3px;
  -webkit-animation: MoveUpDown 1s linear infinite;
  animation: MoveUpDown 1s linear infinite;
  color: var(--white);
}
.section-hero-5 .el-heading {
  width: 100% !important;
  max-width: 100% !important;
}
.section-hero-5 .el-heading h1 {
  font-size: 42px;
  color: var(--white);
}

.section-hero-6:before {
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 15;
  opacity: 0.75;
  content: "";
  position: fixed;
  background: var(--base-0);
}
.section-hero-6 .display-center {
  z-index: 18;
}

@media (max-width: 992px) {
  .section-hero-4 .el-particles {
    display: none !important;
  }
}
@media (max-width: 768px) {
  .section-hero-2 {
    background-position: center left;
  }
  .section-hero-2 .el-heading {
    float: inherit !important;
  }
  .section-hero-2 .display-center {
    z-index: 3;
  }
  .section-hero-2:after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.45;
    position: absolute;
  }
  .section-hero-5 .el-heading h1 {
    font-size: 24px !important;
  }
}
.section-about-1 .about-image {
  height: 100%;
  position: relative;
}
.section-about-1 .about-image .image {
  top: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  position: absolute;
}

.section-resume-1 ul {
  padding: 0;
  list-style: none;
}
.section-resume-1 ul li {
  display: block;
  position: relative;
}
.section-resume-1 ul li:after {
  top: -18px;
  left: 0;
  width: 1px;
  height: 100%;
  content: "";
  position: absolute;
  background-color: var(--base-1);
}
.section-resume-1 .resume-title {
  z-index: 3;
  line-height: 1;
  position: relative;
  padding-left: 35px;
}
.section-resume-1 .resume-title:before {
  top: 5px;
  left: -7px;
  width: 15px;
  height: 15px;
  display: block;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
}
.section-resume-1 .resume-item {
  position: relative;
}
.section-resume-1 .resume-item p {
  font-size: 12px;
  font-weight: 500;
  padding-left: 10px;
  margin-bottom: 0;
}
.section-resume-1 .resume-item .resume-body {
  padding: 20px 36px;
}
.section-resume-1 .resume-item .resume-head {
  position: relative;
  padding-top: 30px;
  padding-left: 90px;
  margin-bottom: 10px;
}
.section-resume-1 .resume-item .resume-head h5 {
  color: var(--base-1);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.section-resume-1 .resume-item .resume-head h6 {
  color: var(--base-1);
  font-size: 12px;
}
.section-resume-1 .resume-item .resume-head .el-icon {
  top: 26px;
  left: 24px;
  position: absolute;
}
.section-resume-1 .resume-item:before {
  top: 43px;
  left: 0;
  width: 25px;
  height: 1px;
  content: "";
  position: absolute;
  background-color: var(--base-1);
}

/*------------------------------------
    Section: Contact
------------------------------------*/
.section-contact-1 .contact-image {
  height: 100%;
  position: relative;
}
.section-contact-1 .contact-image .image {
  top: 0;
  left: 15px;
  right: 15px;
  height: 100%;
  position: absolute;
}

/*------------------------------------
testimonial
------------------------------------*/
/* 
* testimonial 
*/
.section-testimonial-1 .slick-dots {
  top: 0;
  right: 15px;
  bottom: inherit;
  position: absolute;
  text-align: right;
  display: inline-block;
}

.section-testimonial-1 .testimonial-item {
  position: relative;
  padding: 30px;
  border: 1px solid var(--base-1);
  background-color: var(--base-0);
}

.section-testimonial-1 .testimonial-item p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 30px;
}

.section-testimonial-1 .testimonial-item .type {
  font-size: 16px;
  font-weight: 700;
  position: relative;
  display: inline-block;
  margin: 0 15px 30px;
}

.section-testimonial-1 .testimonial-item .type span {
  z-index: 6;
  position: relative;
}

.section-testimonial-1 .testimonial-item .type:after {
  left: -16px;
  bottom: -6px;
  width: 36px;
  height: 36px;
  opacity: 0.75;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
}

.section-testimonial-1 .testimonial-item .author {
  height: 50px;
  position: relative;
  padding-left: 65px;
}

.section-testimonial-1 .testimonial-item .author h4 {
  font-size: 14px;
  margin-bottom: 6px;
}

.section-testimonial-1 .testimonial-item .author h5 {
  color: var(--base-1);
  font-size: 12px;
  margin-bottom: 0;
}

.section-testimonial-1 .testimonial-item .author img {
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50%;
}

.section-testimonial-1 .lets-work {
  text-align: center;
  padding-top: 90px;
  position: relative;
}

.section-testimonial-1 .lets-work .button {
  top: 0px;
}

@media (max-width: 992px) {
  .section-testimonial-1 .shape-2 {
    display: none;
  }
}
@media (max-width: 768px) {
  .section-testimonial-1 .testimonial-item {
    padding: 20px;
  }
  .section-testimonial-1 .testimonial-item p {
    font-size: 12px;
  }
}
/*------------------------------------
    Section: Portfolio
------------------------------------*/
.section-portfolio-1 {
  background-color: var(--base-0);
}
.section-portfolio-1 .portfolio-item {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}
.section-portfolio-1 .portfolio-item .portfolio-card {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 100%;
}
.section-portfolio-1 .portfolio-item .portfolio-card .image {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 600ms;
}
.section-portfolio-1 .portfolio-item .portfolio-card .content {
  top: 60%;
  left: 50%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  text-align: center;
  transition: all 450ms;
  transform: translate(-50%, -50%);
}
.section-portfolio-1 .portfolio-item .portfolio-card .content h3 {
  color: var(--base-1);
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
}
.section-portfolio-1 .portfolio-item .portfolio-card .content span {
  color: var(--base-1);
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.section-portfolio-1 .portfolio-item .portfolio-card .content .button {
  opacity: 0;
  margin-bottom: 30px;
  transform: translate(0, -60px);
  transition: all 450ms;
}
.section-portfolio-1 .portfolio-item .portfolio-card .content .button span {
  top: 4px;
  left: 1px;
  font-size: 14px;
  position: relative;
}
.section-portfolio-1 .portfolio-item:hover .image {
  opacity: 0;
  transform: scale(1.2, 1.2);
}
.section-portfolio-1 .portfolio-item:hover .content {
  top: 50%;
  opacity: 1;
  visibility: visible;
}
.section-portfolio-1 .portfolio-item:hover .content .button {
  opacity: 1;
  transform: translate(0, 0);
}

@media (max-width: 768px) {
  .section-portfolio-1 .el-tabs-links li {
    font-size: 10px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .section-portfolio-1 .row-center {
    margin-left: -6px !important;
    margin-right: -6px !important;
    margin-bottom: -12px !important;
  }
  .section-portfolio-1 .row-center > * {
    padding-left: 6px !important;
    padding-right: 6px !important;
  }
  .section-portfolio-1 .portfolio-item {
    margin-bottom: 12px;
  }
  .section-portfolio-1 .portfolio-item p {
    font-size: 12px;
  }
  .section-portfolio-1 .portfolio-item h4 {
    font-size: 14px;
  }
}
/*------------------------------------
    Section: Posts/Blog
------------------------------------*/
.section-blog-1 .post-item {
  position: relative;
}
.section-blog-1 .post-item h4 {
  font-size: 18px;
  font-weight: 700;
}
.section-blog-1 .post-item .post-date {
  display: block;
  font-size: 12px;
  margin-bottom: 20px;
}
.section-blog-1 .post-item .post-date i {
  top: 1px;
  position: relative;
  margin-right: 6px;
}
.section-blog-1 .post-item .post-image {
  position: relative;
  padding-top: 60%;
  margin-right: 15px;
  margin-bottom: 20px;
  background: no-repeat var(--primary) center center/cover;
  transition: all 600ms;
}
.section-blog-1 .post-item .post-content {
  position: relative;
  padding-left: 60px;
  padding-right: 15px;
}
.section-blog-1 .post-item .post-content .el-icon {
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  text-align: center;
  position: absolute;
}
.section-blog-1 .post-item:before {
  top: 15px;
  left: 15px;
  right: 0;
  bottom: 0;
  content: "";
  position: absolute;
  border-radius: 3px;
  border: 1px solid var(--base-1);
  background-color: transparent;
}

/*------------------------------------
    Section: Single Post
------------------------------------*/
.section-single-post .post {
  position: relative;
}
.section-single-post .post .post-head {
  margin-bottom: 30px;
}
.section-single-post .post .post-head .post-info h1 {
  font-size: 45px;
}
.section-single-post .post .post-head .post-info .author {
  font-weight: bolder;
}
.section-single-post .post .post-head .post-info .category {
  font-weight: bolder;
}
.section-single-post .post .post-head .post-info .el-go-back {
  margin-bottom: 20px;
}
.section-single-post .post .post-body img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.section-single-post .post .post-body .post-image {
  margin-bottom: 30px;
}
.section-single-post .post .post-body .post-tags {
  display: block;
}
.section-single-post .post .post-body .post-tags ul {
  list-style: none;
  display: inline-block;
  padding: 0 0 0 15px;
}
.section-single-post .post .post-body .post-tags ul li {
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  margin-right: 9px;
  margin-bottom: 3px;
}
.section-single-post .post .post-body .post-tags ul li:before {
  content: "#";
}
.section-single-post .post .post-body .post-tags > span {
  font-weight: 700;
}
.section-single-post .post .post-body .post-content {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .section-blog-1 .post-item h4 {
    font-size: 16px;
  }
  .section-single-post .post .post-head .post-info h1 {
    font-size: 30px;
  }
}
/*------------------------------------
    Section
------------------------------------*/
.section {
  width: 100vw;
  display: block;
  max-width: 100%;
  min-height: 100vh;
  position: relative;
}
.section .section-inner-sidebar {
  left: 0;
  bottom: 0;
  width: 40%;
  height: 100vh;
  position: fixed;
  background-color: var(--primary);
}
.section .section-inner-sidebar .el-page-gallery {
  width: 100%;
  height: 100%;
}
.section .section-inner-content {
  right: 0;
  bottom: 0;
  width: 60%;
  height: 100%;
  float: right;
  overflow-y: scroll;
  padding: 0 50px;
  -ms-overflow-style: none;
  background-color: var(--base-0);
}
.section .section-inner-content::-webkit-scrollbar {
  display: none;
}
.section.section-wave-1:after {
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 20%;
  content: "";
  position: absolute;
}
.section.section-wave-2:after {
  left: 0;
  bottom: -90px;
  width: 100%;
  height: 20%;
  content: "";
  position: absolute;
}
.section.section-wave-3:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 300px;
  content: "";
  position: absolute;
}
.section.section-wave-6:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  content: "";
  position: absolute;
}

/*------------------------------------
    Element: Tabs
------------------------------------*/
.el-tabs ul {
  display: block;
  list-style: none;
  text-align: center;
  padding: 0;
  margin-bottom: 30px;
}
.el-tabs ul li {
  color: var(--base-1);
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 7px 15px;
  border-radius: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.el-tabs ul li.active {
  background-color: var(--primary);
}

/*------------------------------------
    Element: Slider
------------------------------------*/
.slick-slider .slick-dots li {
  top: 25px;
  position: relative;
  margin: 0 !important;
}
.slick-slider .slick-dots li button:before {
  color: var(--base-1);
  width: 8px !important;
  height: 8px !important;
  opacity: 1 !important;
  overflow: hidden;
  border: 1px solid var(--base-1);
  border-radius: 50%;
}
.slick-slider .slick-dots li.slick-active button:before {
  color: var(--primary);
  background-color: var(--primary);
}

.el-slider-plr--15 {
  padding-left: -15px;
  padding-right: -15px;
}
.el-slider-plr--15 .slick-slide {
  padding-left: 15px;
  padding-right: 15px;
}

@media (max-width: 992px) {
  .el-slider-plr--15,
  .el-slider-plr--15 .slick-slide {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
/*------------------------------------
    Element: Progress
------------------------------------*/
.el-progress {
  position: relative;
  margin-bottom: 60px;
}
.el-progress span {
  color: var(--base-1);
  font-weight: 500;
  display: inline-block;
  margin-bottom: 15px;
}
.el-progress .el-icon {
  margin-bottom: 25px;
}
.el-progress .el-progress-count {
  top: 12px;
  right: 0;
  position: absolute;
}
.el-progress div {
  height: 12px;
  border-radius: 3px;
  background-color: #eee;
}
.el-progress div .el-progress-bar {
  width: 0;
  background-size: 1rem 1rem;
  background-color: var(--primary);
  background-image: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.15) 25%,
    transparent 25%,
    transparent 50%,
    rgba(255, 255, 255, 0.15) 50%,
    rgba(255, 255, 255, 0.15) 75%,
    transparent 75%,
    transparent
  );
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite;
}

/*------------------------------------
    Element: Divider
------------------------------------*/
.divider {
  width: 63px;
  height: 4px;
  display: inline-block;
  position: relative;
  margin: 0 9px 15px;
  background-color: var(--primary);
}
.divider.divider-1 {
  width: 63px;
  height: 4px;
  position: relative;
  margin-bottom: 15px;
  background: var(--primary);
}
.divider.divider-1-1 {
  margin-right: 12px !important;
}
.divider.divider-1-2:before {
  left: -9px;
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
}
.divider.divider-1-2:after {
  left: -17px;
  width: 5px;
  height: 5px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
}
.divider.divider-1-2.divider-single {
  left: 12px;
}

/*------------------------------------
    Element: Headline
------------------------------------*/
.el-headline {
  width: 100%;
  position: relative;
  margin-bottom: 60px;
}
.el-headline .el-headline-title {
  font-size: 36px;
}
.el-headline .el-headline-label {
  position: relative;
}
.el-headline .el-headline-label span {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.el-headline .el-headline-label:before {
  left: 0;
  right: 0;
  bottom: 10px;
  width: 36px;
  height: 36px;
  opacity: 0.75;
  content: "";
  position: absolute;
  border-radius: 50%;
  margin: auto;
  background-color: var(--primary);
}
.el-headline.center {
  max-width: 576px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .el-headline p {
    font-size: 14px;
  }
  .el-headline .el-headline-title {
    font-size: 21px;
  }
}
/*------------------------------------
    Element: Heading
------------------------------------*/
.el-heading {
  max-width: 600px;
}
.el-heading p {
  font-size: 14px;
  margin-bottom: 20px;
}
.el-heading h1 {
  font-size: 50px;
  line-height: 1.4;
  margin-bottom: 36px;
}
.el-heading h2 {
  font-size: 30px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.el-heading h3 {
  color: var(--base-1);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 15px;
}
.el-heading .label {
  color: var(--primary);
  display: block;
  font-weight: 600;
  margin-bottom: 15px;
}
.el-heading .el-icon {
  margin-bottom: 9px;
}
.el-heading .el-heading-label {
  color: var(--primary);
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.el-heading.el-heading-center {
  max-width: 768px;
  text-align: center;
  margin: 0 auto 60px;
}
.el-heading.el-heading-center .el-icon .el-icon-title {
  padding-top: 15px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.el-heading.el-heading-center .el-icon:before {
  left: 0;
  right: 0;
  margin: auto;
}
.el-heading.no-title p {
  padding-top: 7px;
}

@media (max-width: 992px) {
  .el-heading p {
    margin-bottom: 15px;
  }
  .el-heading h1 {
    font-size: 33px;
    line-height: 1.4;
  }
  .el-heading h3 {
    font-size: 24px;
  }
}
/*------------------------------------
    Element: Scroll
------------------------------------*/
.el-scroll {
  left: 0;
  right: 0;
  bottom: 66px;
  width: 30px;
  height: 45px;
  z-index: 18;
  position: absolute;
  margin: auto;
  border-radius: 25px;
  border: 1px solid #fff;
}
.el-scroll:before {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  top: 9px;
  width: 2px;
  height: 9px;
  display: block;
  background: #fff;
  border-radius: 3px;
  content: "";
  -webkit-animation-name: scroll;
  animation-name: scroll;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.el-scroll-line {
  left: 0;
  right: 0;
  bottom: 0;
  width: 1px;
  height: 50px;
  display: block;
  content: "";
  width: 1px;
  height: 50px;
  margin: auto;
  position: absolute;
  background-color: #fff;
}

/*------------------------------------
    Element: Blockquote
------------------------------------*/
.el-blockquote {
  overflow: hidden;
  position: relative;
  font-size: 16px;
  font-style: inherit;
  margin-top: 30px;
  padding: 15px 30px 15px 81px;
}
.el-blockquote p {
  font-weight: 100;
  text-align: left;
  margin-bottom: 15px;
}
.el-blockquote .el-blockquote-icon {
  top: 12px;
  left: 0;
  width: 60px;
  height: 60px;
  color: var(--base-1);
  display: block;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
  padding-top: 4px;
  border-radius: 50%;
  position: absolute;
  background: var(--primary);
}
.el-blockquote .el-blockquote-author {
  color: var(--primary);
  font-size: 14px;
}

/*------------------------------------
    Element: Circle-Side
------------------------------------*/
.el-circle-side {
  top: 0;
  width: 100vh;
  height: 100vh;
  opacity: 0.3;
  padding-top: 50%;
  padding-left: 50%;
  position: absolute;
  border-radius: 50%;
  background-color: var(--base-0);
}
.el-circle-side.left {
  left: 7;
}
.el-circle-side.right {
  right: 7%;
}

@media (max-width: 768px) {
  .el-circle-side {
    display: none;
  }
}
/*------------------------------------
    Element: List
------------------------------------*/
.el-list-check {
  list-style: none;
  padding: 0;
  margin: 0 15px 20px;
}
.el-list-check li {
  display: block;
  font-weight: 500;
  margin-bottom: 9px;
}
.el-list-check li .icon {
  top: 1px;
  color: green;
  position: relative;
  margin-right: 9px;
}

/*------------------------------------
    Element: Go Back
------------------------------------*/
.el-go-back {
  display: block;
  position: relative;
  color: var(--base-1);
}
.el-go-back .icon {
  top: 2px;
  left: -3px;
  position: relative;
  margin-right: 6px;
}

/*------------------------------------
    Element: Icon
------------------------------------*/
.el-icon {
  display: block;
  position: relative;
  margin-bottom: 30px;
}
.el-icon .el-icon-icon {
  top: 10px;
  left: 10px;
  z-index: 3;
  font-size: 30px;
  line-height: 36px;
  position: relative;
}
.el-icon .el-icon-label,
.el-icon .el-icon-title,
.el-icon .el-icon-subtitle {
  display: block;
  padding-top: 9px;
  padding-left: 15px;
}
.el-icon .el-icon-label {
  top: -1px;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  margin-bottom: 3px;
}
.el-icon .el-icon-title {
  top: -2px;
  font-size: 16px;
  font-weight: 700;
  position: relative;
  margin-bottom: 3px;
}
.el-icon .el-icon-small {
  font-size: 80%;
}
.el-icon .el-icon-subtitle {
  font-size: 12px;
}
.el-icon .el-icon-circle {
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  display: block;
  text-align: center;
  position: absolute;
}
.el-icon .el-icon-circle .el-icon-inner {
  top: 9px;
  left: 9px;
  font-size: 30px;
  position: absolute;
}
.el-icon .el-icon-circle:before {
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background-color: var(--primary);
}
.el-icon.el-icon-dark .el-icon-title,
.el-icon.el-icon-dark .el-icon-subtitle {
  color: var(--black);
}
.el-icon.el-icon-light .el-icon-title,
.el-icon.el-icon-light .el-icon-subtitle {
  color: var(--white);
}
.el-icon:before {
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
  content: "";
  position: absolute;
  border-radius: 50%;
  background: var(--primary);
}

/*------------------------------------
    Element: Card Icon
------------------------------------*/
.el-card-icon {
  padding-left: 60px;
  margin-bottom: 30px;
}
.el-card-icon p {
  font-size: 12px;
  line-height: 1.8;
  margin-bottom: 15px;
}
.el-card-icon h5 {
  color: var(--base-1);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}
.el-card-icon .el-icon {
  top: 3px;
  left: 15px;
  position: absolute;
}

/*------------------------------------
    Element: Particles
------------------------------------*/
.el-particles {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
}

/*------------------------------------
    Element: Button
------------------------------------*/
.button {
  font-weight: 700;
  position: relative;
  white-space: nowrap;
  display: inline-block;
  margin-right: 2px;
  transition: all 0.3s;
}
.button.button-block {
  width: 100%;
  float: inherit;
  display: block;
}

.button-sm {
  height: 36px;
  font-size: 12px;
  padding: 9px 18px;
}

.button-circle-sm {
  width: 36px;
  height: 36px;
  font-size: 12px;
  line-height: 36px;
}

.button-md {
  height: 45px;
  font-size: 14px;
  padding: 12px 30px;
}

.button-circle-md {
  width: 45px;
  height: 45px;
  font-size: 14px;
  line-height: 45px;
}

.button-lg {
  height: 45px;
  font-size: 14px;
  padding: 12px 27px;
}

.button-circle-lg {
  width: 55px;
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}

.button-xl {
  height: 62px;
  font-size: 16px;
  padding: 16px 42px;
}

.button-circle-xl {
  width: 62px;
  height: 62px;
  font-size: 20px;
  line-height: 62px;
}

.button-dark {
  color: #fff;
  background-color: #242424;
}
.button-dark:hover {
  color: #fff;
  background-color: #111;
}

.button-light {
  color: #333;
  background-color: #fff;
}
.button-light:hover {
  color: #000;
  background-color: #eee;
}

.button-primary {
  color: var(--base-1);
  background-color: var(--primary);
}
.button-primary:hover {
  color: #fff;
  background-color: var(--primary-1);
}

.button-secondary {
  color: #fff;
  background-color: var(--secondary);
}
.button-secondary:hover {
  color: #fff;
  background-color: var(--secondary-1);
}

.button-gradient {
  color: #fff;
}
.button-gradient:hover {
  color: #fff;
  box-shadow: 0 3px 12px var(--primary);
}

.button-line-light {
  color: var(--base-0);
  border: 1px solid var(--base-0);
}

.button-line-dark {
  color: var(--base-1);
  border: 1px solid var(--base-1);
}

.button-line-primary {
  color: var(--primary);
  border: 1px solid var(--primary);
}

.button-line-secondary {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}

.button-flat {
  border-radius: 0;
}

.button-circle {
  border-radius: 50%;
  border-radius: 50%;
}
.button-circle i {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.button-radius {
  border-radius: 24px;
}

.button-icon-md {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
}

.button-icon-lg {
  width: 60px;
  height: 60px;
  font-size: 18px;
  line-height: 60px;
  text-align: center;
}

.button-icon-xl {
  width: 60px;
  height: 60px;
  font-size: 18px;
  line-height: 64px;
  text-align: center;
}

.button .icon {
  z-index: 3;
  position: relative;
}
.button .hover-wave {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
}
.button .hover-wave:before,
.button .hover-wave:after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  position: absolute;
  background-color: var(--gray);
  border-radius: 50%;
}
.button .hover-wave:before {
  opacity: 0.3;
}
.button .hover-wave:after {
  opacity: 0.15;
}
.button:hover .hover-wave {
  opacity: 1;
}
.button:hover .hover-wave:before {
  -webkit-animation: wave-animate 1200ms infinite;
  animation: wave-animate 1200ms infinite;
}
.button:hover .hover-wave:after {
  -webkit-animation: wave-animate 1500ms infinite;
  animation: wave-animate 1500ms infinite;
}

.button-alt:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  opacity: 0.15;
  position: absolute;
}
.button-alt.button-alt-primary {
  color: var(--primary);
}
.button-alt.button-alt-primary:before {
  background-color: var(--primary-1);
}
.button-alt.button-alt-secondary {
  color: var(--secondary);
}
.button-alt.button-alt-secondary:before {
  background-color: var(--secondary-1);
}
.button-alt.button-circle:before {
  border-radius: 50%;
}

.button {
  overflow: hidden;
  position: relative;
}
.button .text {
  z-index: 1;
  position: relative;
}
.button .wave {
  top: 0;
  left: 50%;
  width: 500px;
  height: 500px;
  opacity: 1;
  position: absolute;
  margin-top: -480px;
  margin-left: -250px;
  border-radius: 43%;
  transform-origin: 50% 49%;
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  -webkit-animation: drift 8000ms infinite linear;
  animation: drift 8000ms infinite linear;
}

/*------------------------------------
    Element: Forms
------------------------------------*/
/*------------------------------------
Forms
------------------------------------*/
.form select,
.form textarea,
.form input[type="tel"],
.form input[type="text"],
.form input[type="date"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="password"] {
  width: 100%;
  display: block;
  font-size: 14px;
  line-height: 1.5;
}

.form textarea,
.form select[multiple] {
  min-height: 180px;
}

/* 
* Form - Style 1
*/
.form-1 .row {
  margin-left: -12px;
  margin-right: -12px;
}

.form-1 .row > * {
  padding-left: 12px;
  padding-right: 12px;
}

.form-1 label {
  top: -7px;
  left: 10px;
  color: var(--base-1);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: -0.02em;
  display: inline-block;
  position: absolute;
  margin-bottom: 9px;
  padding: 0 6px;
  background-color: var(--base-0);
  transition: all 0.2s;
}

.form-1 select,
.form-1 textarea,
.form-1 input[type="tel"],
.form-1 input[type="text"],
.form-1 input[type="date"],
.form-1 input[type="email"],
.form-1 input[type="number"],
.form-1 input[type="search"],
.form-1 input[type="password"] {
  width: 100%;
  height: 45px;
  color: var(--base-1);
  display: block;
  font-size: 12px;
  padding: 10px 10px 0;
  outline: 0;
  border: 1px solid var(--base-1);
  background-color: var(--base-0);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form-1 textarea {
  padding-top: 15px;
}

.form-1 .form-item {
  position: relative;
  margin-bottom: 24px;
}

.form-1 input:focus,
.form-1 select:focus,
.form-1 textarea:focus {
  border-color: var(--primary);
}

/*------------------------------------
    Container
------------------------------------*/
.row-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-0 > * {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.row-xs {
  margin-left: -6px !important;
  margin-right: -6px !important;
}

.row-xs > * {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.row-sm {
  margin-left: -9px !important;
  margin-right: -9px !important;
}

.row-sm > * {
  padding-left: 9px !important;
  padding-right: 9px !important;
}

.row-md {
  margin-left: -15px;
  margin-right: -15px;
}

.row-md > * {
  padding-left: 15px;
  padding-right: 15px;
}

.row-center {
  justify-content: center !important;
}

/*------------------------------------
    Header
------------------------------------*/
.app-header-1 {
  z-index: 99;
  width: 100%;
  max-width: 100%;
  position: fixed;
}
.app-header-1 .header-logo {
  top: 20px;
  left: 30px;
  z-index: 12;
  font-size: 24px;
  font-weight: 700;
  position: absolute;
}
.app-header-1 .header-menu {
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  position: fixed;
  list-style: none;
  overflow: auto;
  white-space: nowrap;
  padding-left: 30px;
  margin-bottom: 0;
  background: var(--base-1);
  -ms-overflow-style: none;
  border-top: 1px solid var(--primary);
  border-bottom: 1px solid var(--primary);
}
.app-header-1 .header-menu li {
  color: var(--base-0);
  font-size: 12px;
  margin-right: 25px;
  display: inline-block;
  padding: 7px 0 6px;
}
.app-header-1 .header-menu li .active {
  color: var(--primary);
  font-weight: 700;
}
.app-header-1 .header-menu::-webkit-scrollbar {
  display: none;
}
.app-header-1 .header-dots {
  top: 50%;
  right: 30px;
  width: 20px;
  height: 300px;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: fixed;
  list-style: none;
  margin-top: -150px;
}
.app-header-1 .header-dots li {
  margin-bottom: 14px;
}
.app-header-1 .header-dots li a {
  display: block;
}
.app-header-1 .header-dots li a .circle {
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 50%;
  border: 1px solid var(--base-1);
}
.app-header-1 .header-dots li a.active .circle {
  border-color: var(--primary);
  background-color: var(--primary);
}
.app-header-1 .button-menu {
  top: 10px;
  right: 30px;
  width: 50px;
  height: 50px;
  z-index: 99;
  position: absolute;
  padding-top: 12px;
}
.app-header-1 .button-menu span {
  width: 36px;
}
.app-header-1 .button-menu span,
.app-header-1 .button-menu span:before,
.app-header-1 .button-menu span:after {
  height: 3px;
  float: right;
  display: block;
  position: relative;
  background-color: var(--base-1);
}
.app-header-1 .button-menu span:before {
  top: -12px;
  width: 30px;
  content: "";
}
.app-header-1 .button-menu span:after {
  bottom: -10px;
  width: 30px;
  content: "";
}
.app-header-1 .header-follow {
  top: 50%;
  left: 30px;
  width: 20px;
  height: 200px;
  position: fixed;
  margin-top: -100px;
}
.app-header-1 .header-follow ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.app-header-1 .header-follow ul li {
  display: block;
  font-size: 12px;
  text-align: center;
  margin-bottom: 10px;
  transition: all 300ms;
}
.app-header-1 .header-follow ul li:hover {
  transform: scale(1.5, 1.5);
}
.app-header-1 .header-follow p {
  top: 70px;
  left: -24px;
  width: 68px;
  height: 20px;
  color: var(--base-1);
  font-size: 12px;
  font-weight: 600;
  line-height: 1.2;
  white-space: nowrap;
  position: relative;
  transform: rotate(-90deg);
}
.app-header-1 .header-follow p:after {
  top: 9px;
  right: -48px;
  width: 40px;
  height: 1px;
  content: "";
  display: block;
  position: absolute;
  background-color: var(--base-1);
}

@media (max-width: 1024px) {
  .app-header .header-logo {
    top: 15px;
    left: 15px;
  }
  .app-header .header-dots {
    right: 15px;
  }
  .app-header .button-menu {
    top: 15px;
    right: 15px;
  }
  .app-header .header-follow {
    left: 15px;
  }
}
@media (max-width: 992px) {
  .app-header {
    position: absolute !important;
  }
  .app-header .header-logo {
    top: 14px;
    left: 18px;
  }
  .app-header .button-menu {
    top: 7px;
    right: 10px;
  }
  .app-header .header-dots {
    right: 0 !important;
  }
  .app-header .header-follow {
    left: 10px;
  }
}
@media (max-width: 768px) {
  .app-header .header-dots,
  .app-header .header-follow {
    display: none !important;
  }
}
/*------------------------------------
    Sidenav
------------------------------------*/
.app-sidenav {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  color: var(--base-1);
  opacity: 0;
  z-index: 10000;
  position: fixed;
  visibility: hidden;
  transition: all 0.6s;
}
.app-sidenav p {
  color: var(--base-1);
}
.app-sidenav .sidenav-menu {
  left: -100%;
  width: 345px;
  height: 100%;
  min-height: 100%;
  z-index: 10001;
  max-width: 75%;
  position: fixed;
  overflow: hidden;
  background-color: var(--primary);
  transition: all 0.6s;
}
.app-sidenav .sidenav-menu .logo {
  top: 30px;
  left: 30px;
  color: var(--base-1);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  position: absolute;
}
.app-sidenav .sidenav-menu .mega-menu {
  display: none;
}
.app-sidenav .sidenav-menu .button {
  top: 21px;
  right: 25px;
  width: 30px;
  height: 30px;
  z-index: 999;
  display: block;
  cursor: pointer;
  position: absolute;
  border-radius: 50%;
  border: 0 !important;
}
.app-sidenav .sidenav-menu .button:before {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: var(--base-1);
  transform: translate(-50%, -50%) rotate(45deg);
}
.app-sidenav .sidenav-menu .button:after {
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: var(--base-1);
  transform: translate(-50%, -50%) rotate(-45deg);
}
.app-sidenav .sidenav-nav {
  top: 50%;
  left: 30px;
  padding: 0;
  z-index: 99;
  position: absolute;
  list-style: none;
  transform: translate(-50%, -50%);
}
.app-sidenav .sidenav-nav li {
  height: 40px;
  color: var(--base-1);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 15px;
}
.app-sidenav .sidenav-nav li a {
  color: #fff;
  display: block;
}
.app-sidenav .sidenav-nav li span {
  top: 10px;
  left: 18px;
  opacity: 0.75;
  font-size: 36px;
  position: absolute;
  white-space: nowrap;
}
.app-sidenav .sidenav-nav li:before {
  top: 32px;
  left: -4px;
  width: 10px;
  height: 10px;
  content: "";
  position: absolute;
  border-radius: 50%;
  border: 1px solid var(--base-1);
}
.app-sidenav .sidenav-nav li:hover a:not(.active) span {
  opacity: 1;
}
.app-sidenav .sidenav-nav li:hover .count {
  display: none;
}
.app-sidenav .sidenav-nav li:hover .anchor {
  display: block;
}
.app-sidenav .sidenav-nav li .active {
  color: var(--base-1);
  opacity: 1;
}
.app-sidenav .sidenav-nav li .active span {
  text-decoration: none;
}
.app-sidenav .sidenav-links {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 39px;
  padding-left: 30px;
  position: absolute;
}
.app-sidenav .sidenav-links p {
  font-size: 14px;
  white-space: nowrap;
}
.app-sidenav .sidenav-links ul {
  float: right;
  padding-right: 30px;
  list-style: none;
}
.app-sidenav .sidenav-links ul li {
  font-size: 14px;
  margin-left: 15px;
  display: inline-block;
}
.app-sidenav .sidenav-close {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.75;
  position: fixed;
  background: var(--base-0);
}

.app-sidenav.active {
  opacity: 1;
  left: 0;
  visibility: visible;
}
.app-sidenav.active .sidenav-menu {
  left: 0;
}

@media (max-width: 768px) {
  .app-sidenav .sidenav-nav li {
    margin-bottom: 5px;
  }
  .app-sidenav .sidenav-nav li span {
    font-size: 24px;
  }
  .app-sidenav .sidenav-nav li:before {
    top: 23px;
  }
}
@media (max-width: 575px) {
  .app-sidenav .sidenav-menu .mega-menu a {
    font-size: 14px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (min-width: 992px) {
  .app-sidenav {
    opacity: 0;
    visibility: hidden;
  }
}
/*------------------------------------
    Wrapper
------------------------------------*/
.route-wrapper {
  position: relative;
}
.route-wrapper > div {
  position: absolute;
}

.switch-wrapper {
  height: 100%;
  position: relative;
}
.switch-wrapper > div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
} /*# sourceMappingURL=index.css.map */
